@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    margin: 0;
    padding: 0;
    background-color: white;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
  }

header{
  background-image: url(C:\Users\Clarisse\Desktop\iPubMart-1\Images\Ipub.png);
}

.Notice{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  left: 800px;
  top: 200px;
}
#ForgotPass{
  font-size: 20px;
  color: #2b6777;
  
}
#Contact {
  color: black;
  font-size: 18px;
  position: relative;
  top: 10px;
  font-weight: bold;
}
#Email {
  color: black;
  font-size: 16px;
  position: relative;
  top: 15px;
  font-style: italic;
  text-decoration: underline;
}

