@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    margin: 0;
    padding: 0;
    background-color:white;
    background-repeat: no-repeat;
    height: 100vh;  
    overflow: scroll;
  }

.links{
  position:absolute;
  font-size: 14px;
  right: 50px;
  top: 20px;
  color: orange;
}

.links a{
  text-decoration: none;
  color: orange;
}

.ipublogo img{
position:absolute;
width: 400px;
left: 50px;
top: 40px
}

form{
width:100%;
padding: 100px;
text-align: left;
padding-left: 450px;
}

form.searchbox input{
  color: black;
  background-color: white;
  width: 400px;
  height:30px;
  border-color: orange;
}

form.searchbox button{
  left: 50px;
  top: 90px;
  height: 30px;
  width:60px;
  background: orange;
  border-color: orange;
  color:  white;
}

.crt img{ 
  position: absolute;
  width: 35px;
  left: 920px;
  top: 95px;
  }

  .profile img{
    position: absolute;
    width: 50px;
    right: 30px;
    top: 90px;
    border-radius: 50%;
  }

  .profile p{
    font-size: 14px;
    position: absolute;
    right: 90px;
    top: 105px;
    font-weight: bold;
    color: darkcyan;
  }

  .link2{
    margin-top:0px;
    font-size: 18px;
    font-weight: bold;
    background-color: darkcyan;
    padding: 13px;
    text-align: center;
  }
  .link2 a{
    text-decoration: none;
    color:white;
    padding-left: 50px;

  }

  .carousel{
    align-items: center;
    display: flex;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
    width: 300px;
  }

  .carousel__images{
    display: flex;
    transform:translateX(0);
    transition: transform 0.25s;
  }

  .carousel_images img{
    border-radius: 5px;
  }

  .carousel__button{
    background: teal;
    border:0;
    border-radius: 50%;
    color:black;
    cursor:pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.25;
    position:absolute;
    transition: opacity 0.25;
    width: 3rem;
    z-index: 1;
  }

  #previous{  
    left: 5px;
  }
  #next{
    right: 5px;
  }

  .link3{
    margin-top:0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 30px;
  }
  .link3 a{
    text-decoration: none;
    color:white;
    background: darkcyan;
    padding:15px;
    border-radius: 50px;
    margin: 40px;
  }

  .bestsellers{
    margin-top: 50px;
    margin-left: 50px;
  }

  .bestsellers p{
    font-weight: bold;
    size: 20px;
  }

  .bestsellers img{
    size: 300px;
    margin: 50px;

  }

  .newitems{
    margin-top: 50px;
    margin-left: 50px;
  }

  .newitems p{
    font-weight: bold;
    size: 20px;
  }

  .newitems img{
    size: 300px;
    margin: 50px;
  }

  @media (max-width: 500px){
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    .links{
      position:absolute;
      font-size: 10px;
      right: 50px;
      top: 20px;
      color: orange;
    }

  }