@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body, html{
  min-height: 100%;
}
body{
  background-image: url("/Images/BG1.jpg");
  background-size:cover;
}
.welcomeText {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  left: 45px;
  top: 25px;
}
#firstText{
  font-size: 25px;
  color: #2b6777;
  
}
#secondText {
  color: black;
  font-weight: bold;
  font-size: 17px;
  position: relative;
  top: 5px;
}
.singleLetter{
  color: #ff8300;
}
.center{
  padding: 0 15px;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-40%, -40%);
  width: 350px;
  height: 350px;
  background: white;
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  color: #2b6777;
  font-weight: 1000;
}
.center form{
  padding: 0 30px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 10px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.center .forgot a{
  color: #666666;
  padding-left: 130px;
}
input[type="submit"]{
  margin: 20px 20px;
  width: 82%;
  height: 40px;
  border: 1px solid;
  background:#ff8300;
  border-radius: 25px;
  font-size: 18px;
  color: #ffff;
  font-weight: 500;
  cursor: pointer;
}
input[type="submit"]:hover{
  border-color:#0000;
  transition: .5s;
}
.signup_link a{
  padding-left: 25px;
  font-size: 14px;
  color: #666666;
}
